.styled-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.styled-table th {
  border-bottom: 1px solid #ddd;
}

.styled-table th {
  color: #000000;
  padding: 8px;
  text-align: left;
  background-color: white;
}

.styled-table td {
  color: #000000;
  padding: 8px;
  background-color: white;
}

.styled-table tbody {
  background-color: white;
}

.styled-table select {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  appearance: none;
  background-color: #fff;
}

.styled-table select:focus {
  outline: none;
  border-color: #69a8a8a2;
}
.contentDate {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.titleDate {
  font-weight: bold;
  font-size: 20px;
}

.contentDataDates {
  background-color: #69a8a825;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #00000027;
}

.contentTable {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  overflow-x: auto;
}

.inputSearch {
  outline: none;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}

.inputSearch::placeholder {
  padding-left: 0.3rem;
  font-size: 11px;
}

.inputSearch:hover {
  border: 1px solid #69a8a8a2;
}

.inputSearch:focus {
  border: 1px solid #69a8a8a2;
}

.contentPetFilters {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 15px;
  padding-top: 20px;
  border-radius: 5px;
  background-color: transparent;
}

.searchContent {
  position: relative;
}

.searchIcon {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translateY(-50%);
  color: #747373;
  transition: transform 0.3s ease;
}

.searchContent > div {
  display: flex;
  padding: 0 15px;
}
.contentPetFilters > div {
  padding: 0 5px;
}

.styleBtnEye {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.styleBtnEye:hover {
  transform: scale(1.2);
}

.contentBtnEye {
  text-align: center;
}

.customIconEye {
  height: 1.5rem;
  width: 1.5rem;
  color: #275353;
}

.serviceList {
  display: flex;
  justify-content: space-between;
}

.txtServiceName {
  font-size: 20px;
}

.txtServicePrice {
  font-size: 18px;
}

@media screen and (max-width: 569px) {
  .contentPetFilters {
    display: flex;
    flex-wrap: wrap;
  }
  .contentPetFilters > div {
    padding-bottom: 5px;
  }
  .searchContent {
    padding-top: 10px;
  }
}
